/* app css stylesheet */
html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 0.4rem;
}
ul {
  list-style-type: none;
}
ul, li, h3, p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* 通用样式 */
.active {
  color: red;
}
.inactive {
  color: #222;
}

.disbox {
  display: -moz-box!important;
  display: -webkit-box!important;
  display:box!important;
}
.boxflex-one {   
  -webkit-box-flex: 1;  
  -moz-box-flex: 1;  
  -ms-box-flex: 1;  
  box-flex: 1;
  display: block;
}
/* animate */
@keyframes rotateFall {
  0%    { transform: rotateZ(0deg); }
  20%   { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%   { transform: rotateZ(17deg); }
  60%   { transform: rotateZ(16deg); }
  100%  { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to    { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from     { transform:translateX(100%); }
  to       { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from     { transform:translateY(100%); }
  to       { transform: translateY(0); }
}

/*  */
@keyframes fadeIn {
  from     { opacity: 0; }
  to       { opacity: 1; }
}
@keyframes fadeOut {
  from    { opacity: 1; }
  to      { opacity: 0; }
}

.ng-enter { 
  animation: fadeIn 0.5s both ease-in; 
  z-index: 8888;
}
.ng-leave { 
  animation: fadeOut 0.5s both ease-in; 
  z-index: 9999; 
}

.ng-show { 
  animation: fadeIn 1s both ease-in; 
  z-index: 8888; 
}
.ng-hide { 
  animation: fadeOut 1s both ease-in; 
  z-index: 9999; 
}

#left-sidebar {
  position:absolute;
  top:0;
  left:-60%;
  
  width:50%;
  height: 100%;
  
  background-color:#ccc;
  -webkit-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
}
#right-sidebar {
  position:absolute;
  top:0;
  right:-60%;
  
  width:50%;
  height: 100%;
  
  background-color:#ccc;
  -webkit-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
}

.left-sidebar {
  left:0 !important;
}
.right-sidebar {
  right:0 !important;
}
/* header */
header {
  overflow: hidden;
  height: 1.3rem;
  
  line-height: 1.3rem;
  text-align: center;
  font-size: 0.4rem;
  color: #222;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
}
header .add {
  float: left;
  
  width: 0.6rem;
  height: 0.6rem;
  
  margin: 0.35rem;
  line-height: 1.3rem;
  text-align: center;
  background: url(images/leftmenu.jpg) left top no-repeat;
  background-size: contain;
}
header .minus {
  float: right;
  
  width: 0.6rem;
  height: 0.6rem;
  
  margin: 0.35rem;
  line-height: 1.3rem;
  text-align: center;
  background: url(images/rightmenu.gif) left top no-repeat;
  background-size: contain;
}
/* footer */
.menu {
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  box-sizing: border-box;
  
  width: 100%;
  height: 1.4rem;
  background-color: #fff;
}
.menu li {
  float: left;
  box-sizing: border-box;
  
  width: 25%;
  height: 1.4rem;
  
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.4rem;
}
.menu li span {
  display: block;
  
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.1rem auto;
}
.menu .tuijian {
  background: url(images/tuijian.jpg) left top no-repeat;
  background-size: contain;
}
.menu .zhibo {
  background: url(images/zhibohover.jpg) left top no-repeat;
  background-size: contain;
}
.menu .zhuanti {
  background: url(images/zhuantihover.jpg) left top no-repeat;
  background-size: contain;
}
.menu .my {
  background: url(images/myhover.jpg) left top no-repeat;
  background-size: contain;
}
/* view1 */
.banner-wrapper {
  height: 5.4rem;
}
.banner-wrapper img {
  width: 100%;
  height: 100%;
}
.middle-bar {
  overflow: hidden;
  
  height: 0.8rem;
  margin: 0.2rem 0;
  padding: 0 0.2rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #787878;
  border-bottom: 1px solid #787878;
  border-top: 1px solid #787878;
}
.middle-bar div {
  float: right;
  
  width: 1rem;
  height: 0.4rem;
}
.middle-bar div img {
  width: 0.8rem;
  height: 0.4rem;
}
.item {
  height: 1.4rem;
  
  margin: 0 0.2rem;
  padding: 0.35rem 0;
  border-bottom: 1px solid #787878;
}
.item .pic {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.05rem;
  border: 1px solid #787878;
}
.item .pic img {
  width: 100%;
  height: 100%;
}
.item .info {
  position: relative;
  height: 1.4rem;
  padding-left: 0.2rem;
  padding-right: 1rem;
}
.item .info h3 {
  font-size: 0.4rem;
}
.item .info p {
  line-height: 0.5rem;;
  font-size: 0.4rem;
  color: #787878;
}
.info div {
  position: absolute;
  right: 0;
  top: 0.5rem;
  
  width: 0.8rem;
  height: 0.6rem;
}
.info div img {
  width: 0.6rem;
  height: 0.6rem;
}
.advertise {
  padding: 0.2rem 0;
}
.advertise img {
  width: 100%;
  height: auto;
}
/* view2 */
.zhibo-page img {
  width: 100%;
  height: auto;
}
/* view3 */
.zhuanti-page {
  padding: 0.2rem;
}
.zhuanti-wrapper {
  padding: 0.2rem;
}
.zhuanti-wrapper img {
  width: 2.8rem;
  height: auto;
  padding-right: 0.5rem;
}
/* view4 */
.my-account img {
  width: 100%;
  height: auto;
}